@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tl1ddq');
  src:  url('../fonts/icomoon.eot?tl1ddq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tl1ddq') format('truetype'),
    url('../fonts/icomoon.woff?tl1ddq') format('woff'),
    url('../fonts/icomoon.svg?tl1ddq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  transition: color .3s;
}

.icon-cancel:before {
  content: "\e900";
  color: #575757;
}

.icon-cancel:hover:before {
  color: #fd9444;
}

.icon-down-arrow:before {
  content: "\e902";
  color: #575757;
}

.icon-down-arrow:hover:before {
  color: #e8e5e7;
}

.icon-search:before {
  content: "\e904";
  color: #575757;
}

.icon-search:hover:before {
  content: "\e904";
  color: #e8e5e7;
}

.icon-search--orange:before {
  content: "\e904";
  color: #fd9444;
}

.icon-search--orange:hover:before {
  content: "\e904";
  color: #ffa776;
}

.icon-shopping-cart:before {
  content: "\e908";
  color: #fd9444;
}

.icon-shopping-cart:hover:before {
  content: "\e908";
  color: #ffa776;
}

.icon-success:before {
  content: "\e90a";
  color: #575757;
}

.icon-success:hover:before {
  content: "\e90a";
  color: #e8e5e7;
}
