@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;

  src: url('../fonts/icomoon.eot?tl1ddq');
  src: url('../fonts/icomoon.eot?tl1ddq#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?tl1ddq') format('truetype'),
  url('../fonts/icomoon.woff?tl1ddq') format('woff'),
  url('../fonts/icomoon.svg?tl1ddq#icomoon') format('svg');
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  transition: all .3s;
}

.icon-star:before {
  color: #fd9444;
  content: "\e901";
}

.icon-star:hover:before {
  content: "\e903";
}

.icon-star--empty:before {
  color: #fd9444;
  content: "\e901";
}

.icon-cancel:before {
  color: #575757;
  content: "\e900";
}

.icon-cancel:hover:before {
  color: #fd9444;
}

.icon-down-arrow:before {
  color: #575757;
  content: "\e902";
}

.icon-down-arrow:hover:before {
  color: #e8e5e7;
}

.icon-search:before {
  color: #575757;
  content: "\e904";
}

.icon-search:hover:before {
  color: white;
  content: "\e904";
}

.icon-search--orange:before {
  color: #fd9444;
  content: "\e904";
}

.icon-search--orange:hover:before {
  color: #ffa776;
  content: "\e904";
}

.icon-shopping-cart:before {
  color: #fd9444;
  content: "\e908";
}

.icon-shopping-cart:hover:before {
  color: #ffa776;
  content: "\e908";
}

.icon-shopping-cart--grey:before {
  color: #575757;
  content: "\e908";
}

.icon-shopping-cart--grey:hover:before {
  color: #ffa776;
  content: "\e908";
}

.icon-success:before {
  color: #575757;
  content: "\e90a";
}

.icon-success:hover:before {
  color: #e8e5e7;
  content: "\e90a";
}
