/*@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster|Poiret+One&subset=cyrillic');*/
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}




.logotype {
  float: left;
}


.main_menu {
  position: relative;
  float: right;
}

/* Menu Button */
.toggle-mnu {
  display: block;
  width: 32px;
  height: 28px;
  margin-top: 8px;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  -webkit-transition: all .3s;
          transition: all .3s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  position: relative;
  z-index: 2;
  float: right;
}

/*Menu Button End*/

#mobile-menu {
  z-index: 2;
}

.header_head {
  padding: 18px 0;
  /*background: linear-gradient(to left, #EFEFBB, #D4D3DD);*/
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .15);
}

.main_menu .sf-menu {
  margin: 8px 17px 0 0;
}

.main_menu .sf-menu li {
  background-color: white;
}

.main_menu .sf-menu a {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  transition: all .3s ease;
}

.main_menu .sf-menu a:hover {
  color: grey;
}

.main_menu .sf-menu .active a {
  color: grey;
}

.main_menu .sf-menu .active a:hover {
  color: grey;
}

.search_header {
  position: absolute;
  top: -2px;
  right: 0;
  left: 585px;
  padding-left: -6px;
}

.main_menu .sf-menu i {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  transition: all .3s ease;
}

.main_menu .sf-menu i:hover {
  color: grey;
}

.sf-menu li:hover {
  background-color: #e0eafc;
}


.main_menu .sf-menu .submenu li a {
  padding: 10px 20px;
}

/*.main_menu .sf-menu .submenu {
	margin-top: 3px;
}*/

/* Menu Button */
.main_menu_button {
  float: right;
  font-size: 28px;
  color: black;
  background: transparent;
  border: medium none;
  outline: none;
}

.main_menu_button:hover {
  color: grey;
  transition: all .3s ease;
}
/*Menu Button End*/

.search_header a {
  color: black;
}

.search_header a:hover {
  color: grey;
  transition: .3s ease;
}


.search_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10002;
  width: 84%;
  height: 80px;
  margin-top: -40px;
  margin-left: -42%;
}
