<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html> <!--<![endif]-->
@@include('../blocks/head.html')
	<body>
		@@include('../blocks/header.html')
		<div class="">
			@@include('../blocks/sort.html')
			<div class="container container-location">
				<div class="row">
					<div class="col-md-3 col-sm-4 sidebar">
						<form action="#" method="GET" class="search-form">
							<input class="sidebar__search-field" type="search" name="search" placeholder="Поиск по товарам">
							<button type="submit" class="search-button"></button>
						</form>
						<form class="sidebar__search" action="#" method="GET">
							<h3 class="sidebar__filter">Фильтр по цене</h3>
							<!-- <img src="assets/img/Shape copy.png" width="260" height="17"> -->
							<div>		
								<div id="slider-range"></div>
							</div>
							<div class="sidebar__filter-block">
								<p class="sidebar__small-text">
									Цена:<br>от 
									<span type="text" id="amountFromView"></span> до 
									<span type="text" id="amountToView"></span> руб.
									
									<input type="text" id="amountFrom" class="hidden" readonly>
									<input type="text" id="amountTo" class="hidden" readonly>
								</p>
								<button class="btn-grey" type="submit">ПРИМЕНИТЬ</button>
							</div>
						</form>
						<h3>Категории</h3>
							<ul class="sidebar__list">
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Краски для колеровки</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Краски для фасадов</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Краски для стен и потолков</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Антисептики</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Грунтовки и эмали</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text active" href="#">Декоративные штукатурки</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Защитно-декоративные составы</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Инсектициды</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Клеи</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Лаки</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Мастики и герметики</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Монтажная пена</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Огнезащитные краски и составы</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Шпатлевки</a></li>
								<li class="sidebar__list-element"><a class="sidebar__list-text" href="#">Прочие составы</a></li>
							</ul>
						<h3 class="sidebar__watched">Просмотренные</h3>
						<div class="sidebar__small-card-wrap">
							<div class="sidebar__small-card">
								<img class="sidebar__img-card" src="assets/img/dali-kraska-kolerovochnaya-small.png" width="31" height="32">
							</div>
							<p class="sidebar__small-card-text">
								DALI&reg; Пропитка для камня гидрофобизирующая
							</p>
						</div>
					</div>
					<div>
						@@include('../blocks/products.html')
					</div>
				</div>
			</div>
			@@include('../blocks/show_more.html')
			@@include('../blocks/description.html')
		</div>
			@@include('../blocks/subscribe.html')
		@@include('../blocks/footer.html')
	</body>
</html>