<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html> <!--<![endif]-->
@@include('../blocks/head.html')
	<body>
		@@include('../blocks/header.html')
		<div class="">
			@@include('../blocks/sort.html')
			<div class="container">
				<div class="row">
					<div class="col-md-3 sidebar">
						<form class="sidebar__search">
							<input class="sidebar__search-field" type="search" name="search" placeholder="Поиск по товарам">
							<h3 class="sidebar__filter">Фильтр по цене</h3>
							<img src="assets/img/Shape copy.png" width="260" height="17">
						</form>	
					</div>
					@@include('../blocks/products.html')
				</div>
			</div>>
			@@include('../blocks/description.html')
		</div>
			@@include('../blocks/subscribe.html')
		@@include('../blocks/footer.html')
	</body>
</html>