<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html> <!--<![endif]-->
    @@include('../blocks/head.html')
    <body>
        @@include('../blocks/header.html')
        @@include('../blocks/big-offer.html')
        @@include('../blocks/categories.html')
        @@include('../blocks/divider--recent.html')
        @@include('../blocks/recents.html')
        @@include('../blocks/divider--advantages.html')
    </body>
</html>
